extends layout.pug

block content

    header What's popular on Mezzo right now
    body
        div.preview
            each story in stories
                img(src=story.image)
                h1=story.title
                p=story.subtitle
                p=story.content
        h2 Stories from people you follow
        if locals.authenticated
            each story in followingStories
                img(src=story.image)
                h1=story.title
                p=story.subtitle
                p=story.content
