extends layout.pug
block content
    .header
        h1.title=story.title
        h2.subtitle=story.subtitle
    .userContainer
        img(src="https://w0286994blog.files.wordpress.com/2016/04/bear.jpg")
        p.author= `${story.User.firstName} ${story.User.lastName}`
        button.btn#followBtn(type='submit') Follow
    .storyImgContainer
        img#storyImg(src=story.image)
    div.story
        h3=story.content
    div.commentsContainer
        if isLiked
            button.btn#likeBtn(type='submit') Liked
        else
            button.btn#likeBtn(type='submit') Like
        textarea.comment(name="comment") Have thoughts?
        button.btn#commentBtn(type='submit') Comment
    script(src='/javascripts/ajax-likes.js')
