extends layout.pug
block content
    .storyLayout
        .storyContainer
            .header
                input(type="hidden" value=story.id id="story-Id")
                .titleContainer
                    h1#title=story.title
                .subtitleContainer
                    h2#subtitle=story.subtitle
            .titleUnderline
            .userContainer
                img#authorImg(src="https://w0286994blog.files.wordpress.com/2016/04/bear.jpg")
                p.author= `${story.User.firstName} ${story.User.lastName}`
                input(type='hidden' value=story.User.id id='authorId')
                if follow 
                    button.btn#followBtn(type='submit') Unfollow
                else
                    button.btn#followBtn(type='submit') Follow
            if locals.authenticated
                form(action="/stories", method="get")
                    //- button.btn#deleteBtn(type='submit'href='/delete') Delete
            .storyImgContainer
                img#storyImg(src=story.image)
            div.story
                h3#storyText=story.content
            div.commentsContainer
                .likeBtnContainer
                    if isLiked
                        button.btn#likeBtn(type='submit') Liked
                    else
                        button.btn#likeBtn(type='submit') Like
                form.commentForm(action=`/stories/${story.id}/comment`, method="post")
                    textarea.comment#commentBody(placeholder='Have thoughts?' name="comment")
                    button.btn#commentBtn(type='submit') Comment
                #comments
                    each comment in comments
                        div.comment
                            p=comment.comment
                            p.commentDate= `Posted ${comment.createdAt}`
    script(src='/javascripts/ajax-likes.js')
    script(src='/javascripts/ajax-comments.js')
    script(src='/javascripts/ajax-follows.js')
